:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9c9769;
}

.homepage, .login-form, .login{
  text-align: center;
}

.homepage img{
  width: 40%;
}

img{
  width:80%;
}

#trip-list{
  text-align: center;
}

.trip-card{
  width: auto;
  background-color: #a4ac83b6;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
}

ul{
  padding-left: 0px;
}

.review-card{
  background-color: #909771;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-trip, .new-review{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.navlink{
  margin: 30px;
  text-decoration: none;
  color: #424631;
}

.user-card, .user-reviews-card{
  text-align: center;
  background-color: #909771;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-card img, .user-reviews-card img{
  width: 200px;
  margin-top: 10px;
}

#logout{
  margin-right: 20px;
}